In [ ]:
import pandas as pd
import numpy as np
import math
import statistics
from dateutil.parser import parse
from sklearn.linear_model import LogisticRegression
from xgboost import XGBRegressor
from scipy import stats

In [ ]:
from google.colab import drive 
drive.mount('/content/gdrive')

Mounted at /content/gdrive

# 1. Загрузка данных и предобработка

## Выбор турниров

In [ ]:
results_pkl = np.load('gdrive/My Drive/Advanced_ML/results.pkl',allow_pickle=True)

In [ ]:
tournaments_pkl = np.load('gdrive/My Drive/Advanced_ML/tournaments.pkl',allow_pickle=True)
tournaments_np = np.array([list(item.values()) for item in tournaments_pkl.values()])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.

In [ ]:
del tournaments_pkl

In [ ]:
train_date = parse('2018-12-31T23:59:59+03:00')
test_date_1 = parse('2019-12-31T23:59:59+03:00')
test_date_2 = parse('2020-12-31T23:59:59+03:00')
train_list = []
test_list = []

In [ ]:
len_tour = len(tournaments_np)

In [ ]:
for i in range(len_tour):
  tournaments_np[i][2] = parse(tournaments_np[i][2])

In [ ]:
#find id tournament
unique_id = []
for i in range(len_tour):
  if tournaments_np[i][2] > train_date and tournaments_np[i][2] <= test_date_1:
    train_list.append([tournaments_np[i][0], tournaments_np[i][1], tournaments_np[i][4]['name']])
    if tournaments_np[i][4]['id'] not in unique_id:
      unique_id.append(tournaments_np[i][4]['id'])
  else:
    if tournaments_np[i][2] > test_date_1 and tournaments_np[i][2] < test_date_2:
      test_list.append([tournaments_np[i][0], tournaments_np[i][1], tournaments_np[i][4]['name']])
      if tournaments_np[i][4]['id'] not in unique_id:
        unique_id.append(tournaments_np[i][4]['id'])

In [ ]:
unique_id

[3, 8, 2, 6, 5]

In [ ]:
#del tournaments_np

In [ ]:
len(test_list)

418

In [ ]:
len(train_list)

687

In [ ]:
#[5042, {'id': 2, 'name': 'Обычный'}]
#[4772, {'id': 3, 'name': 'Синхрон'}]
#[5462, {'id': 5, 'name': 'Общий зачёт'}]
#[5394, {'id': 6, 'name': 'Строго синхронный'}]
#[5009, {'id': 8, 'name': 'Асинхрон'}]

## Таблица сложности вопросов

In [ ]:
#ответ команд и вопросы
def complexity_question(tournaments_list, results_pkl):
  results_team_q = []

  for t in range(len(tournaments_list)):
    j = tournaments_list[t][0]
    for i in range(len(results_pkl[j])):#id_team
      try:
        for q in range(len(results_pkl[j][i]['mask'])):#id_question
          results_team_q.append([str(j) + '_' + str(q), int(results_pkl[j][i]['mask'][q])])
      except:
        pass
  results_team_q = pd.DataFrame(results_team_q, columns = ['id_question','answer'])
  results_questions = results_team_q.groupby(['id_question']).mean()
  results_questions.rename(columns={'answer':'complexity_question'}, inplace=True)
  return results_questions

In [ ]:
results_questions_train = complexity_question(train_list, results_pkl)
results_questions_train.head()

             complexity_question
id_question
4772_0                  0.883117
4772_1                  0.779221
4772_10                 0.831169
4772_11                 0.515152
4772_12                 0.974026

In [ ]:
results_questions_train = complexity_question(train_list, results_pkl)
results_questions_test = complexity_question(test_list, results_pkl)
results_questions_train.to_csv('gdrive/My Drive/Advanced_ML/results_questions_train.csv') 
results_questions_test.to_csv('gdrive/My Drive/Advanced_ML/results_questions_test.csv')

## Таблица игроков и ответы, таблица усредненных результатов игроков

In [ ]:
def results_player_q(tournaments_list, results_pkl, results_questions):
  results_player = []

  for t in range(len(tournaments_list)):
    j = tournaments_list[t][0]
    for i in range(len(results_pkl[j])):#id_team
      for k in range(len(results_pkl[j][i]['teamMembers'])):#id_player
        try:
          for q in range(len(results_pkl[j][i]['mask'])):#id_question
            results_player.append([j, results_pkl[j][i]['team']['id'], results_pkl[j][i]['teamMembers'][k]['player']['id'], \
                      results_pkl[j][i]['teamMembers'][k]['rating'], str(j) + '_' + str(q), int(results_pkl[j][i]['mask'][q])])
        except:
          pass
  results_player_pd = pd.DataFrame(results_player, columns = ['id_tournaments', 'id_team', 'id_player','rating', \
                                                                        'id_question', 'answer'])
  #results_player_pd = results_player_pd.join(results_questions.set_index('id_question'), on='id_question')
  results_player_pd = results_player_pd.join(results_questions, on='id_question')
  results_player_pd['answer_weight'] = results_player_pd['answer'] * results_player_pd['complexity_question']
  return results_player_pd

In [ ]:
results_player_train_pd = results_player_q(train_list, results_pkl, results_questions_train)
results_player_train_pd.head()

,id_tournaments,id_team,id_player,rating,id_question,answer,complexity_question,answer_weight
0,4772,45556,6212,13507,4772_0,1,0.883117,0.883117
1,4772,45556,6212,13507,4772_1,1,0.779221,0.779221
2,4772,45556,6212,13507,4772_2,1,0.445887,0.445887
3,4772,45556,6212,13507,4772_3,1,0.519481,0.519481
4,4772,45556,6212,13507,4772_4,1,0.878788,0.878788

In [ ]:
results_player_train_pd.to_csv('gdrive/My Drive/Advanced_ML/results_player_train_pd.csv')

In [ ]:
results_player_test_pd = results_player_q(test_list, results_pkl, results_questions_test)
results_player_test_pd.head()

,id_tournaments,id_team,id_player,rating,id_question,answer,complexity_question,answer_weight
0,4957,49804,30152,14433,4957_0,1,0.282609,0.282609
1,4957,49804,30152,14433,4957_1,1,0.119565,0.119565
2,4957,49804,30152,14433,4957_2,1,0.858696,0.858696
3,4957,49804,30152,14433,4957_3,1,0.576087,0.576087
4,4957,49804,30152,14433,4957_4,1,0.260870,0.260870

In [ ]:
results_player_test_pd.to_csv('gdrive/My Drive/Advanced_ML/results_player_test_pd.csv')

In [ ]:
player_train_mean = results_player_train_pd.groupby(['id_player']).mean()
del player_train_mean['id_team']
del player_train_mean['answer']
del player_train_mean['id_tournaments']
player_train_mean.head()

                rating  complexity_question  answer_weight
id_player
15         4815.900971             0.450747       0.211222
16         3701.461538             0.442879       0.320499
23          791.000000             0.468409       0.306692
31         4606.075869             0.436949       0.255479
35         4543.964328             0.494833       0.317034

In [ ]:
player_train_mean.to_csv('gdrive/My Drive/Advanced_ML/player_train_mean.csv')

In [ ]:
player_test_mean = results_player_test_pd.groupby(['id_player']).mean()
del player_test_mean['id_team']
del player_test_mean['answer']
del player_test_mean['id_tournaments']
player_test_mean.to_csv('gdrive/My Drive/Advanced_ML/player_test_mean.csv')

## Таблица команды (количество ответов и место)

In [ ]:
def results_team(tournaments_list, results_pkl):
  results_team=[]
  for t in range(len(tournaments_list)):
    j = tournaments_list[t][0]
    for i in range(len(results_pkl[j])):#id_team
      try:
        count = 0
        for q in range(len(results_pkl[j][i]['mask'])):#id_question
          count+= int(results_pkl[j][i]['mask'][q])
        results_team.append([j, results_pkl[j][i]['team']['id'], count])
      except:
        pass
  results_team_pd = pd.DataFrame(results_team, columns = ['id_tournaments','id_team','answer'])
  results_team_dense = results_team_pd.groupby(['id_tournaments'])['answer'].rank(method='dense',ascending=False)
  results_team_pd.loc[:,'dense_rank'] = pd.Series(results_team_dense, index=results_team_pd.index)
  return results_team_pd

In [ ]:
results_team_train_pd = results_team(train_list, results_pkl)
results_team_train_pd.head()

   id_tournaments  id_team  answer  dense_rank
0            4772    45556      28         1.0
1            4772     1030      25         2.0
2            4772     4252      25         2.0
3            4772     5444      25         2.0
4            4772    40931      25         2.0

In [ ]:
results_team_test_pd = results_team(test_list, results_pkl)
results_team_test_pd.head()

   id_tournaments  id_team  answer  dense_rank
0            5414    66120      33         1.0
1            5414      312      31         2.0
2            5414        2      31         2.0
3            5414    72338      30         3.0
4            5414     4032      30         3.0

In [ ]:
results_team_train_pd.to_csv('gdrive/My Drive/Advanced_ML/results_team_train_pd.csv')
results_team_test_pd.to_csv('gdrive/My Drive/Advanced_ML/results_team_test_pd.csv')

## Таблица команды расширенная (+ рейтинг команды...)

In [ ]:
def results_team_mean(tournaments_list, results_pkl, player_mean, results_team_pd):
  id_tour = []
  id_team = []
  rating = []
  com_que =[]
  ans_w =[]
  max_rating = []
  max_com_que =[]
  max_ans_w =[]

  for t in range(len(tournaments_list)):#id_tournaments
    j = tournaments_list[t][0]
    for i in range(len(results_pkl[j])):#id_team
      try:
        count = 0
        for q in range(len(results_pkl[j][i]['mask'])):#id_question
          count+= int(results_pkl[j][i]['mask'][q])
        ratin = 0
        co_q = 0
        an_w = 0
        max_ratin = -10
        max_co_q = -10
        max_an_w = -10
        count_pl = len(results_pkl[j][i]['teamMembers'])
        for k in range(count_pl): #id_player
          id = results_pkl[j][i]['teamMembers'][k]['player']['id']      
          try:
            ind = player_mean.index[player_mean.id_player == id][0]
            ratin += player_mean['rating'][ind]
            co_q += player_mean['complexity_question'][ind]
            an_w += player_mean['answer_weight'][ind]
            max_ratin = max(player_mean['rating'][ind], max_ratin)
            max_co_q = max(player_mean['complexity_question'][ind], max_co_q)
            max_an_w = max(player_mean['answer_weight'][ind], max_an_w)
          except:
            pass
        if count_pl!= 0 and ratin != 0 and co_q != 0 and an_w !=0:
          id_tour.append(j)
          id_team.append(results_pkl[j][i]['team']['id'])
          rating.append(ratin / count_pl)
          com_que.append(co_q / count_pl)
          ans_w.append(an_w / count_pl)
          max_rating.append(max_ratin)
          max_com_que.append(max_co_q)
          max_ans_w.append(max_an_w)
      except:
        pass     
      
  results_tour_team_mean = pd.DataFrame(
      {
        'id_tournaments': id_tour,        
        'id_team': id_team,
        'rating': rating,
        'complexity_question': com_que,
        'answer_weight': ans_w,
        'max_rating': max_rating,
        'max_complexity_question': max_com_que,
        'max_answer_weight': max_ans_w        
      }
  )
  s = results_team_pd.groupby('id_tournaments')['answer'].transform('max')
  results_team_pd['answer_p'] = results_team_pd['answer'].div(s)
  x_y_raiting = pd.merge(results_tour_team_mean, results_team_pd, how='left')
  return x_y_raiting

In [ ]:
results_team_train_pd = pd.read_csv('gdrive/My Drive/Advanced_ML/results_team_train_pd.csv')
results_team_train_pd.head()
del results_team_train_pd['Unnamed: 0']
results_team_train_pd.head()

   id_tournaments  id_team  answer  dense_rank
0            4772    45556      28         1.0
1            4772     1030      25         2.0
2            4772     4252      25         2.0
3            4772     5444      25         2.0
4            4772    40931      25         2.0

In [ ]:
player_train_mean = pd.read_csv('gdrive/My Drive/Advanced_ML/player_train_mean.csv')
player_train_mean.head()

   id_player       rating  complexity_question  answer_weight
0         15  4815.900971             0.450747       0.211222
1         16  3701.461538             0.442879       0.320499
2         23   791.000000             0.468409       0.306692
3         31  4606.075869             0.436949       0.255479
4         35  4543.964328             0.494833       0.317034

In [ ]:
x_y_train_raiting = results_team_mean(train_list, results_pkl, player_train_mean, results_team_train_pd)

In [ ]:
x_y_train_raiting.head()

,id_tournaments,id_team,rating,complexity_question,answer_weight,max_rating,max_complexity_question,max_answer_weight,answer,dense_rank,answer_p
0,4772,45556,13322.089781,0.420761,0.354680,13832.452188,0.454860,0.389560,28,1.0,1.000000
1,4772,1030,9748.414632,0.430493,0.329444,12805.756774,0.450324,0.382839,25,2.0,0.892857
2,4772,4252,9098.065811,0.423316,0.316211,9934.840977,0.441281,0.327703,25,2.0,0.892857
3,4772,5444,8429.537756,0.417548,0.286602,9002.047327,0.423141,0.300306,25,2.0,0.892857
4,4772,40931,10284.849720,0.448930,0.359209,12714.947230,0.466370,0.374295,25,2.0,0.892857

In [ ]:
x_y_train_raiting.to_csv('gdrive/My Drive/Advanced_ML/x_y_train_raiting.csv')

In [ ]:
results_team_test_pd = pd.read_csv('gdrive/My Drive/Advanced_ML/results_team_test_pd.csv')
results_team_test_pd.head()
del results_team_test_pd['Unnamed: 0']
results_team_test_pd.head()

   id_tournaments  id_team  answer  dense_rank
0            5414    66120      33         1.0
1            5414      312      31         2.0
2            5414        2      31         2.0
3            5414    72338      30         3.0
4            5414     4032      30         3.0

In [ ]:
player_test_mean = pd.read_csv('gdrive/My Drive/Advanced_ML/player_test_mean.csv')
player_test_mean.head()

   id_player       rating  complexity_question  answer_weight
0         15  3477.600233             0.432065       0.232886
1         16  3841.000000             0.443854       0.204873
2         23   944.000000             0.384127       0.194444
3         31  5882.538462             0.496695       0.273200
4         35  6268.923913             0.406156       0.238819

In [ ]:
x_y_test_raiting = results_team_mean(test_list, results_pkl, player_test_mean, results_team_test_pd)

In [ ]:
x_y_test_raiting.head()

,id_tournaments,id_team,rating,complexity_question,answer_weight,max_rating,max_complexity_question,max_answer_weight,answer,dense_rank,answer_p
0,5414,66120,8520.322436,0.439939,0.347905,10551.091944,0.467234,0.379066,33,1.0,1.000000
1,5414,312,11592.348323,0.451811,0.357554,12823.869906,0.464574,0.381259,31,2.0,0.939394
2,5414,2,12274.793187,0.466353,0.399107,13574.688372,0.477923,0.415112,31,2.0,0.939394
3,5414,72338,9508.134339,0.470640,0.354091,9880.412894,0.480327,0.367173,30,3.0,0.909091
4,5414,4032,10054.105705,0.461091,0.371010,10241.556054,0.547648,0.504562,30,3.0,0.909091

In [ ]:
x_y_test_raiting.to_csv('gdrive/My Drive/Advanced_ML/x_y_test_raiting.csv')

#2. Постройте baseline-модель на основе линейной или логистической регрессии, которая будет обучать рейтинг-лист игроков.

In [ ]:
results_player_train_pd = pd.read_csv('gdrive/My Drive/Advanced_ML/results_player_train_pd.csv')

In [ ]:
results_player_test_pd = pd.read_csv('gdrive/My Drive/Advanced_ML/results_player_test_pd.csv')

In [ ]:
del results_player_train_pd['Unnamed: 0']
del results_player_test_pd['Unnamed: 0']

In [ ]:
results_player_test_pd.head()

,id_team,id_player,rating,id_question,answer,complexity_question,answer_weight
0,49804,30152,14433,4957_0,1,0.282609,0.282609
1,49804,30152,14433,4957_1,1,0.119565,0.119565
2,49804,30152,14433,4957_2,1,0.858696,0.858696
3,49804,30152,14433,4957_3,1,0.576087,0.576087
4,49804,30152,14433,4957_4,1,0.260870,0.260870

In [ ]:
def norm(results_player_pd):
  max_id = max(results_player_pd['id_player'])
  max_rating = max(results_player_pd['rating'])
  results_player_pd['id_player'] = results_player_pd['id_player'] / (max_id + 0.0)
  results_player_pd['rating'] = results_player_train_pd['rating'] / (max_rating + 0.0)
  return results_player_pd

In [ ]:
results_player_train_pd = norm(results_player_train_pd)
results_player_test_pd = norm(results_player_test_pd)

In [ ]:
model = LogisticRegression(random_state=10)
model.fit(results_player_train_pd[['id_player','rating','complexity_question']], results_player_train_pd[['answer']])

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression(random_state=10)

In [ ]:
print(model.score(results_player_train_pd[['id_player','rating', 'complexity_question']], results_player_train_pd[['answer']]))

0.7325355480869336

In [ ]:
model.score(results_player_test_pd[['id_player','rating','complexity_question']], results_player_test_pd[['answer']])

0.7193785365161969

#3. Качество рейтинг-системы оценивается качеством предсказаний результатов турниров. Но сами повопросные результаты наши модели предсказывать вряд ли смогут, ведь неизвестно, насколько сложными окажутся вопросы в будущих турнирах; да и не нужны эти предсказания сами по себе.

###Поэтому:
###предложите способ предсказать результаты нового турнира с известными составами, но неизвестными вопросами, в виде ранжирования команд;
###в качестве метрики качества на тестовом наборе давайте считать ранговые корреляции Спирмена и Кендалла (их можно взять в пакете scipy) между реальным ранжированием в результатах турнира и предсказанным моделью, усреднённые по тестовому множеству турниров.

In [ ]:
x_y_test_raiting = pd.read_csv('gdrive/My Drive/Advanced_ML/x_y_test_raiting.csv')
del x_y_test_raiting['Unnamed: 0']

In [ ]:
x_test = x_y_test_raiting[['id_tournaments', 'id_team','rating','complexity_question','answer_weight', 'max_rating',	'max_complexity_question', 'max_answer_weight']]
y_test = x_y_test_raiting[['answer_p']]

In [ ]:
x_train = x_y_train_raiting[['id_tournaments', 'id_team','rating','complexity_question','answer_weight', 'max_rating',	'max_complexity_question', 'max_answer_weight']]
y_train = x_y_train_raiting[['answer_p']]

In [ ]:
model_r = XGBRegressor()
model_r.fit(x_train, y_train)
print(model_r.score(x_train, y_train))

[14:13:15] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
0.6246830233773781

In [ ]:
predict_r = model_r.predict(x_test)
predict_r

array([0.76886535, 0.8469981 , 0.8955965 , ..., 0.251472  , 0.24512988,
       0.16927966], dtype=float32)

In [ ]:
x_test.loc[:,'predict_r'] = pd.Series(predict_r, index=x_test.index)
x_test_ = x_test.groupby(['id_tournaments'])['predict_r'].rank(method='dense',ascending=False)
x_test.loc[:,'predict_dense_rank'] = pd.Series(x_test_, index=x_test.index)

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1667: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = value

In [ ]:
stats.spearmanr(x_y_test_raiting['dense_rank'],  x_test['predict_dense_rank'])

SpearmanrResult(correlation=0.6158148761422617, pvalue=0.0)

In [ ]:
x_y_test_raiting_ = x_y_test_raiting.groupby('id_tournaments')

{5414: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...], 5477: [273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370], 5705: [371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468, 469, 470, ...], 5706: [500, 501, 502, 503, 504, 505, 506, 507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519, 520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532, 533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545, 546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558, 559, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571, 572, 573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584, 585, 586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597, 598, 599, ...], 5707: [677, 678, 679, 680, 681, 682, 683, 684, 685, 686, 687, 688, 689, 690, 691, 692, 693, 694, 695, 696, 697, 698, 699, 700, 701, 702, 703, 704, 705, 706, 707, 708, 709, 710, 711, 712, 713, 714, 715, 716, 717, 718, 719, 720, 721, 722, 723, 724, 725, 726, 727, 728, 729, 730, 731, 732, 733, 734, 735, 736, 737, 738, 739, 740, 741, 742, 743, 744, 745, 746, 747, 748, 749, 750, 751, 752, 753, 754, 755, 756, 757, 758, 759, 760, 761, 762, 763, 764, 765, 766, 767, 768, 769], 5708: [770, 771, 772, 773, 774, 775, 776, 777, 778, 779, 780, 781, 782, 783, 784, 785, 786, 787, 788, 789, 790, 791, 792, 793, 794, 795, 796, 797, 798, 799, 800, 801, 802, 803, 804, 805, 806, 807, 808, 809, 810, 811, 812, 813, 814, 815, 816, 817, 818, 819, 820, 821, 822, 823, 824, 825, 826, 827, 828, 829, 830, 831, 832, 833, 834, 835, 836, 837, 838, 839, 840, 841, 842, 843, 844, 845, 846, 847, 848, 849, 850, 851, 852, 853, 854, 855, 856, 857, 858, 859, 860, 861, 862, 863, 864, 865, 866, 867, 868, 869, ...], 5710: [952, 953, 954, 955, 956, 957, 958, 959, 960, 961, 962, 963, 964, 965, 966, 967, 968, 969, 970, 971, 972, 973, 974, 975, 976, 977, 978, 979, 980, 981, 982, 983, 984, 985, 986, 987, 988, 989, 990, 991, 992, 993, 994, 995, 996, 997, 998, 999, 1000, 1001, 1002, 1003, 1004, 1005], 5712: [1006, 1007, 1008, 1009, 1010, 1011, 1012, 1013, 1014, 1015, 1016, 1017, 1018, 1019, 1020, 1021, 1022, 1023, 1024, 1025, 1026, 1027, 1028, 1029, 1030, 1031, 1032, 1033, 1034, 1035, 1036, 1037, 1038, 1039, 1040, 1041, 1042, 1043, 1044, 1045, 1046, 1047, 1048, 1049, 1050], 5713: [1051, 1052, 1053, 1054, 1055, 1056, 1057, 1058, 1059, 1060, 1061, 1062, 1063, 1064, 1065, 1066, 1067, 1068, 1069, 1070, 1071, 1072, 1073, 1074, 1075, 1076, 1077, 1078, 1079, 1080, 1081, 1082, 1083, 1084, 1085, 1086, 1087, 1088, 1089, 1090, 1091, 1092, 1093, 1094, 1095, 1096, 1097, 1098, 1099, 1100, 1101, 1102, 1103, 1104, 1105, 1106, 1107, 1108, 1109, 1110, 1111, 1112, 1113, 1114, 1115, 1116, 1117, 1118, 1119, 1120, 1121, 1122, 1123, 1124, 1125, 1126, 1127, 1128, 1129, 1130, 1131, 1132, 1133, 1134, 1135, 1136, 1137, 1138, 1139, 1140, 1141, 1142, 1143, 1144, 1145, 1146, 1147, 1148, 1149, 1150, ...], 5730: [1214, 1215, 1216, 1217, 1218, 1219, 1220, 1221, 1222, 1223, 1224, 1225, 1226, 1227, 1228, 1229, 1230, 1231, 1232, 1233, 1234, 1235, 1236, 1237, 1238, 1239, 1240, 1241, 1242, 1243, 1244, 1245, 1246, 1247, 1248, 1249, 1250, 1251, 1252, 1253, 1254, 1255, 1256, 1257, 1258, 1259, 1260, 1261, 1262, 1263, 1264, 1265, 1266, 1267, 1268, 1269, 1270, 1271, 1272, 1273, 1274, 1275, 1276, 1277, 1278, 1279, 1280, 1281, 1282, 1283, 1284, 1285, 1286, 1287, 1288, 1289, 1290, 1291, 1292, 1293, 1294, 1295, 1296, 1297, 1298, 1299, 1300, 1301, 1302, 1303, 1304, 1305, 1306, 1307, 1308, 1309, 1310, 1311, 1312, 1313, ...], 5731: [1746, 1747, 1748, 1749, 1750, 1751, 1752, 1753, 1754, 1755, 1756, 1757, 1758, 1759, 1760, 1761, 1762, 1763, 1764, 1765, 1766, 1767, 1768, 1769, 1770, 1771, 1772, 1773, 1774, 1775, 1776, 1777, 1778, 1779, 1780, 1781, 1782, 1783, 1784, 1785, 1786, 1787, 1788, 1789, 1790, 1791, 1792, 1793, 1794, 1795, 1796, 1797, 1798, 1799, 1800, 1801, 1802, 1803, 1804, 1805, 1806, 1807, 1808, 1809, 1810, 1811, 1812, 1813, 1814, 1815, 1816, 1817, 1818, 1819, 1820, 1821, 1822, 1823, 1824, 1825, 1826, 1827, 1828, 1829, 1830, 1831, 1832, 1833, 1834, 1835, 1836, 1837, 1838, 1839, 1840, 1841, 1842, 1843, 1844, 1845, ...], 5732: [2145, 2146, 2147, 2148, 2149, 2150, 2151, 2152, 2153, 2154, 2155, 2156, 2157, 2158, 2159, 2160, 2161, 2162, 2163, 2164, 2165, 2166, 2167, 2168, 2169, 2170, 2171, 2172, 2173, 2174, 2175, 2176, 2177, 2178, 2179, 2180, 2181, 2182, 2183, 2184, 2185, 2186, 2187, 2188, 2189, 2190, 2191, 2192, 2193, 2194, 2195, 2196, 2197, 2198, 2199, 2200, 2201, 2202, 2203, 2204, 2205, 2206, 2207, 2208, 2209, 2210, 2211, 2212, 2213, 2214, 2215, 2216, 2217, 2218, 2219, 2220, 2221, 2222, 2223, 2224, 2225, 2226, 2227, 2228, 2229, 2230, 2231, 2232, 2233, 2234, 2235, 2236, 2237, 2238, 2239, 2240, 2241, 2242, 2243, 2244, ...], 5733: [2311, 2312, 2313, 2314, 2315, 2316, 2317, 2318, 2319, 2320, 2321, 2322, 2323, 2324, 2325, 2326, 2327, 2328, 2329, 2330, 2331, 2332, 2333, 2334, 2335, 2336, 2337, 2338, 2339, 2340, 2341, 2342, 2343, 2344, 2345, 2346, 2347, 2348, 2349, 2350, 2351, 2352, 2353, 2354, 2355, 2356, 2357, 2358, 2359, 2360, 2361, 2362, 2363, 2364, 2365, 2366, 2367, 2368, 2369, 2370, 2371, 2372, 2373, 2374, 2375, 2376, 2377, 2378, 2379, 2380, 2381, 2382, 2383, 2384, 2385, 2386, 2387, 2388, 2389, 2390, 2391, 2392, 2393, 2394, 2395, 2396, 2397, 2398, 2399, 2400, 2401, 2402, 2403, 2404, 2405, 2406, 2407, 2408, 2409, 2410, ...], 5746: [2635, 2636, 2637, 2638, 2639, 2640, 2641, 2642, 2643, 2644, 2645, 2646, 2647, 2648, 2649, 2650, 2651], 5753: [2652, 2653, 2654, 2655, 2656, 2657, 2658, 2659, 2660, 2661, 2662, 2663, 2664, 2665, 2666, 2667, 2668, 2669, 2670, 2671, 2672, 2673, 2674, 2675, 2676, 2677, 2678, 2679, 2680, 2681, 2682, 2683, 2684, 2685, 2686, 2687, 2688, 2689, 2690, 2691, 2692, 2693, 2694, 2695, 2696, 2697, 2698, 2699, 2700, 2701, 2702, 2703, 2704, 2705, 2706, 2707, 2708, 2709, 2710, 2711, 2712, 2713, 2714, 2715, 2716, 2717, 2718, 2719, 2720, 2721, 2722, 2723, 2724, 2725, 2726, 2727, 2728, 2729, 2730, 2731, 2732, 2733, 2734, 2735, 2736, 2737, 2738, 2739, 2740, 2741, 2742, 2743, 2744, 2745, 2746, 2747, 2748, 2749, 2750, 2751, ...], 5754: [3756, 3757, 3758, 3759, 3760, 3761, 3762, 3763, 3764, 3765, 3766, 3767, 3768, 3769, 3770, 3771, 3772, 3773, 3774, 3775, 3776, 3777, 3778, 3779, 3780, 3781, 3782, 3783, 3784, 3785, 3786, 3787, 3788, 3789, 3790, 3791, 3792, 3793, 3794, 3795, 3796, 3797, 3798, 3799, 3800, 3801, 3802, 3803, 3804, 3805, 3806, 3807, 3808, 3809, 3810, 3811, 3812, 3813, 3814, 3815, 3816, 3817, 3818, 3819, 3820, 3821, 3822, 3823, 3824, 3825, 3826, 3827, 3828, 3829, 3830, 3831, 3832, 3833, 3834, 3835, 3836, 3837, 3838, 3839, 3840, 3841, 3842, 3843, 3844, 3845, 3846, 3847, 3848, 3849, 3850, 3851, 3852, 3853, 3854, 3855, ...], 5793: [4784, 4785, 4786, 4787, 4788, 4789, 4790, 4791, 4792, 4793, 4794, 4795, 4796, 4797, 4798, 4799, 4800, 4801, 4802, 4803, 4804, 4805, 4806, 4807, 4808, 4809, 4810, 4811, 4812, 4813, 4814, 4815, 4816, 4817, 4818, 4819, 4820, 4821, 4822, 4823, 4824, 4825, 4826, 4827, 4828, 4829, 4830, 4831, 4832, 4833, 4834, 4835, 4836, 4837, 4838, 4839, 4840, 4841, 4842, 4843, 4844, 4845, 4846, 4847, 4848, 4849, 4850, 4851, 4852, 4853, 4854, 4855, 4856, 4857, 4858, 4859, 4860, 4861, 4862, 4863, 4864, 4865, 4866, 4867, 4868, 4869, 4870, 4871, 4872, 4873, 4874, 4875, 4876, 4877, 4878, 4879, 4880, 4881, 4882, 4883, ...], 5798: [5016, 5017, 5018, 5019, 5020, 5021, 5022, 5023, 5024, 5025, 5026, 5027, 5028, 5029, 5030, 5031, 5032, 5033, 5034, 5035, 5036, 5037, 5038, 5039, 5040, 5041, 5042, 5043, 5044, 5045, 5046, 5047, 5048, 5049, 5050, 5051, 5052, 5053, 5054, 5055, 5056, 5057, 5058, 5059, 5060, 5061, 5062, 5063, 5064, 5065, 5066, 5067, 5068, 5069, 5070, 5071, 5072, 5073, 5074, 5075, 5076, 5077, 5078, 5079, 5080, 5081, 5082, 5083, 5084, 5085, 5086, 5087, 5088, 5089, 5090, 5091, 5092, 5093, 5094, 5095, 5096, 5097, 5098, 5099, 5100, 5101, 5102, 5103, 5104, 5105, 5106, 5107, 5108, 5109, 5110, 5111, 5112, 5113, 5114, 5115, ...], 5799: [5192, 5193, 5194, 5195, 5196, 5197, 5198, 5199, 5200, 5201, 5202, 5203, 5204, 5205, 5206, 5207, 5208, 5209, 5210, 5211, 5212, 5213, 5214, 5215, 5216, 5217, 5218, 5219, 5220, 5221, 5222, 5223, 5224, 5225, 5226, 5227, 5228, 5229, 5230, 5231, 5232, 5233, 5234, 5235, 5236, 5237, 5238, 5239, 5240, 5241, 5242, 5243, 5244, 5245, 5246, 5247, 5248, 5249, 5250, 5251, 5252, 5253, 5254, 5255, 5256, 5257, 5258, 5259, 5260, 5261, 5262, 5263, 5264, 5265, 5266, 5267, 5268, 5269, 5270, 5271, 5272, 5273, 5274, 5275, 5276, 5277, 5278, 5279, 5280, 5281, 5282, 5283, 5284, 5285, 5286, 5287, 5288, 5289, 5290, 5291, ...], 5804: [5339, 5340, 5341, 5342, 5343, 5344, 5345, 5346, 5347, 5348, 5349, 5350, 5351, 5352, 5353, 5354, 5355, 5356, 5357, 5358, 5359, 5360, 5361, 5362, 5363, 5364, 5365, 5366, 5367, 5368, 5369, 5370, 5371, 5372, 5373, 5374, 5375, 5376, 5377, 5378, 5379, 5380, 5381, 5382, 5383, 5384, 5385, 5386, 5387, 5388, 5389, 5390, 5391, 5392, 5393, 5394, 5395, 5396, 5397, 5398, 5399, 5400, 5401, 5402, 5403, 5404, 5405, 5406, 5407, 5408, 5409, 5410, 5411, 5412, 5413, 5414, 5415, 5416, 5417, 5418, 5419, 5420, 5421, 5422, 5423, 5424, 5425, 5426, 5427, 5428, 5429, 5430, 5431, 5432, 5433, 5434, 5435, 5436, 5437, 5438], 5806: [5439, 5440, 5441, 5442, 5443, 5444, 5445, 5446, 5447, 5448, 5449, 5450, 5451, 5452, 5453, 5454, 5455, 5456, 5457, 5458, 5459, 5460, 5461, 5462, 5463, 5464, 5465, 5466, 5467, 5468, 5469, 5470, 5471, 5472, 5473, 5474, 5475, 5476, 5477, 5478, 5479, 5480, 5481, 5482, 5483, 5484, 5485, 5486, 5487, 5488, 5489, 5490, 5491, 5492, 5493, 5494, 5495, 5496, 5497, 5498, 5499, 5500, 5501, 5502, 5503, 5504, 5505, 5506, 5507, 5508, 5509, 5510, 5511, 5512, 5513, 5514, 5515, 5516, 5517, 5518, 5519, 5520, 5521, 5522, 5523, 5524, 5525, 5526, 5527, 5528, 5529, 5530, 5531, 5532, 5533, 5534, 5535, 5536, 5537, 5538, ...], 5809: [5571, 5572, 5573, 5574, 5575, 5576, 5577, 5578, 5579, 5580, 5581, 5582, 5583, 5584, 5585, 5586, 5587, 5588, 5589, 5590, 5591, 5592, 5593, 5594, 5595, 5596, 5597, 5598, 5599, 5600, 5601, 5602, 5603, 5604, 5605, 5606, 5607, 5608, 5609, 5610, 5611, 5612, 5613, 5614, 5615, 5616, 5617, 5618, 5619, 5620, 5621, 5622, 5623, 5624, 5625, 5626, 5627, 5628, 5629, 5630, 5631, 5632, 5633, 5634, 5635, 5636, 5637, 5638, 5639, 5640, 5641, 5642, 5643, 5644, 5645, 5646, 5647, 5648, 5649, 5650, 5651, 5652, 5653, 5654, 5655, 5656, 5657, 5658, 5659, 5660, 5661, 5662, 5663, 5664, 5665, 5666, 5667, 5668, 5669, 5670, ...], 5810: [5956, 5957, 5958, 5959, 5960, 5961, 5962, 5963, 5964, 5965, 5966, 5967, 5968, 5969, 5970, 5971, 5972, 5973, 5974, 5975, 5976, 5977, 5978, 5979, 5980, 5981, 5982, 5983, 5984, 5985, 5986, 5987, 5988, 5989, 5990, 5991, 5992, 5993, 5994, 5995, 5996, 5997, 5998, 5999, 6000, 6001, 6002, 6003, 6004, 6005, 6006, 6007, 6008, 6009, 6010, 6011, 6012, 6013, 6014, 6015, 6016, 6017, 6018, 6019, 6020, 6021, 6022, 6023, 6024, 6025, 6026, 6027, 6028, 6029, 6030, 6031, 6032, 6033, 6034, 6035, 6036, 6037, 6038, 6039, 6040, 6041, 6042, 6043, 6044, 6045, 6046, 6047, 6048, 6049, 6050, 6051, 6052, 6053, 6054, 6055, ...], 5813: [6269, 6270, 6271, 6272, 6273, 6274, 6275, 6276, 6277, 6278, 6279, 6280, 6281, 6282, 6283, 6284, 6285, 6286, 6287, 6288, 6289, 6290, 6291, 6292], 5823: [6293, 6294, 6295, 6296, 6297, 6298, 6299, 6300, 6301, 6302, 6303, 6304, 6305, 6306, 6307, 6308, 6309, 6310, 6311, 6312, 6313, 6314, 6315, 6316, 6317, 6318, 6319, 6320, 6321, 6322, 6323, 6324, 6325, 6326, 6327, 6328, 6329, 6330, 6331, 6332, 6333, 6334, 6335, 6336, 6337, 6338, 6339, 6340, 6341, 6342, 6343, 6344, 6345, 6346, 6347, 6348, 6349, 6350, 6351, 6352, 6353, 6354, 6355, 6356, 6357, 6358, 6359, 6360, 6361, 6362, 6363, 6364, 6365, 6366, 6367, 6368, 6369, 6370, 6371, 6372, 6373, 6374, 6375, 6376, 6377, 6378, 6379, 6380, 6381, 6382, 6383, 6384, 6385, 6386, 6387, 6388, 6389, 6390, 6391, 6392, ...], 5846: [7290, 7291, 7292, 7293, 7294, 7295, 7296, 7297, 7298, 7299, 7300, 7301, 7302, 7303, 7304, 7305, 7306, 7307, 7308, 7309, 7310, 7311, 7312, 7313, 7314, 7315, 7316, 7317, 7318, 7319, 7320, 7321, 7322, 7323, 7324, 7325, 7326, 7327, 7328, 7329, 7330, 7331, 7332, 7333, 7334, 7335, 7336, 7337, 7338, 7339, 7340, 7341, 7342, 7343, 7344, 7345, 7346, 7347, 7348, 7349, 7350, 7351, 7352, 7353, 7354, 7355, 7356, 7357, 7358, 7359, 7360, 7361, 7362, 7363, 7364, 7365, 7366, 7367, 7368, 7369, 7370, 7371, 7372, 7373, 7374, 7375, 7376, 7377, 7378, 7379, 7380, 7381, 7382, 7383, 7384, 7385, 7386, 7387, 7388, 7389, ...], 5848: [7415, 7416, 7417, 7418, 7419, 7420, 7421, 7422, 7423, 7424, 7425, 7426, 7427, 7428, 7429, 7430, 7431, 7432, 7433, 7434, 7435, 7436, 7437, 7438, 7439, 7440, 7441, 7442, 7443, 7444, 7445, 7446, 7447, 7448, 7449, 7450, 7451, 7452, 7453, 7454, 7455, 7456, 7457, 7458, 7459, 7460, 7461, 7462, 7463, 7464, 7465, 7466, 7467, 7468, 7469, 7470, 7471, 7472, 7473, 7474, 7475, 7476, 7477, 7478, 7479, 7480, 7481, 7482, 7483, 7484, 7485, 7486, 7487, 7488, 7489, 7490, 7491, 7492, 7493, 7494, 7495, 7496, 7497, 7498, 7499, 7500, 7501, 7502, 7503, 7504, 7505, 7506, 7507, 7508, 7509, 7510, 7511, 7512, 7513, 7514, ...], 5849: [7558, 7559, 7560, 7561, 7562, 7563, 7564, 7565, 7566, 7567, 7568, 7569, 7570, 7571, 7572, 7573, 7574, 7575, 7576, 7577, 7578, 7579, 7580, 7581, 7582, 7583, 7584, 7585, 7586, 7587, 7588, 7589, 7590, 7591, 7592, 7593, 7594, 7595, 7596, 7597, 7598, 7599, 7600, 7601, 7602, 7603, 7604, 7605, 7606, 7607, 7608, 7609, 7610, 7611, 7612, 7613, 7614, 7615, 7616, 7617, 7618, 7619, 7620, 7621, 7622, 7623, 7624, 7625, 7626, 7627, 7628, 7629, 7630, 7631, 7632, 7633, 7634, 7635, 7636, 7637, 7638, 7639, 7640, 7641, 7642, 7643, 7644, 7645, 7646, 7647, 7648, 7649, 7650, 7651, 7652, 7653, 7654, 7655, 7656, 7657, ...], 5856: [7674, 7675, 7676, 7677, 7678, 7679, 7680, 7681, 7682, 7683, 7684, 7685, 7686, 7687, 7688, 7689, 7690, 7691, 7692, 7693, 7694, 7695, 7696, 7697, 7698, 7699, 7700, 7701, 7702, 7703, 7704, 7705, 7706, 7707, 7708, 7709, 7710, 7711, 7712, 7713, 7714, 7715, 7716, 7717, 7718, 7719, 7720, 7721, 7722, 7723, 7724, 7725, 7726, 7727, 7728, 7729, 7730, 7731, 7732, 7733, 7734, 7735, 7736, 7737, 7738, 7739, 7740, 7741, 7742, 7743, 7744, 7745, 7746, 7747, 7748, 7749, 7750, 7751, 7752, 7753, 7754, 7755, 7756, 7757, 7758, 7759, 7760, 7761, 7762, 7763, 7764, 7765, 7766, 7767, 7768, 7769, 7770, 7771, 7772, 7773, ...], 5889: [8060, 8061, 8062, 8063, 8064, 8065, 8066, 8067, 8068, 8069, 8070, 8071, 8072, 8073, 8074, 8075, 8076, 8077, 8078, 8079, 8080, 8081, 8082, 8083, 8084, 8085, 8086, 8087], 5891: [8088, 8089, 8090, 8091, 8092, 8093, 8094, 8095, 8096, 8097, 8098, 8099, 8100, 8101, 8102, 8103, 8104, 8105, 8106], 5956: [8107, 8108, 8109, 8110, 8111, 8112, 8113, 8114, 8115, 8116, 8117, 8118, 8119, 8120, 8121, 8122, 8123, 8124, 8125, 8126, 8127, 8128, 8129, 8130, 8131, 8132, 8133, 8134, 8135, 8136, 8137, 8138, 8139, 8140, 8141, 8142, 8143, 8144, 8145, 8146, 8147, 8148, 8149, 8150, 8151, 8152, 8153, 8154, 8155, 8156, 8157, 8158, 8159, 8160, 8161, 8162, 8163, 8164, 8165, 8166, 8167, 8168, 8169, 8170, 8171, 8172, 8173, 8174, 8175, 8176, 8177, 8178, 8179, 8180, 8181, 8182, 8183, 8184, 8185, 8186, 8187, 8188, 8189, 8190, 8191, 8192, 8193, 8194, 8195, 8196, 8197, 8198, 8199, 8200, 8201, 8202, 8203, 8204, 8205, 8206, ...], 5957: [8269, 8270, 8271, 8272, 8273, 8274, 8275, 8276, 8277, 8278, 8279, 8280, 8281, 8282, 8283, 8284, 8285, 8286, 8287, 8288, 8289, 8290, 8291, 8292, 8293, 8294, 8295, 8296, 8297, 8298, 8299, 8300, 8301, 8302, 8303, 8304, 8305, 8306, 8307, 8308, 8309, 8310, 8311, 8312, 8313, 8314, 8315, 8316, 8317, 8318, 8319, 8320, 8321, 8322, 8323, 8324, 8325, 8326, 8327, 8328, 8329, 8330, 8331, 8332, 8333, 8334, 8335, 8336, 8337, 8338, 8339, 8340, 8341, 8342, 8343, 8344, 8345, 8346, 8347, 8348, 8349, 8350, 8351, 8352, 8353, 8354, 8355, 8356, 8357, 8358, 8359, 8360, 8361, 8362, 8363, 8364, 8365, 8366, 8367, 8368, ...], 5958: [8396, 8397, 8398, 8399, 8400, 8401, 8402, 8403, 8404, 8405, 8406, 8407, 8408, 8409, 8410, 8411, 8412, 8413, 8414, 8415, 8416, 8417, 8418, 8419, 8420, 8421, 8422, 8423, 8424, 8425, 8426, 8427, 8428, 8429, 8430, 8431, 8432, 8433, 8434, 8435, 8436, 8437, 8438, 8439, 8440, 8441, 8442, 8443, 8444, 8445, 8446, 8447, 8448, 8449, 8450, 8451, 8452, 8453, 8454, 8455, 8456, 8457, 8458, 8459, 8460, 8461, 8462, 8463, 8464, 8465, 8466, 8467, 8468, 8469, 8470, 8471, 8472, 8473, 8474, 8475, 8476, 8477, 8478, 8479, 8480, 8481, 8482, 8483, 8484], 5962: [8485, 8486, 8487, 8488, 8489, 8490, 8491, 8492, 8493, 8494, 8495, 8496, 8497, 8498, 8499, 8500, 8501, 8502, 8503, 8504, 8505, 8506, 8507, 8508, 8509, 8510, 8511, 8512, 8513, 8514, 8515, 8516, 8517, 8518, 8519, 8520, 8521, 8522, 8523, 8524, 8525], 5970: [8526, 8527, 8528, 8529, 8530, 8531, 8532, 8533, 8534, 8535, 8536, 8537], 5973: [8538, 8539, 8540, 8541, 8542, 8543, 8544, 8545, 8546, 8547, 8548, 8549, 8550, 8551, 8552, 8553, 8554, 8555, 8556, 8557, 8558, 8559, 8560, 8561, 8562, 8563, 8564, 8565], 6002: [8566, 8567, 8568, 8569, 8570, 8571, 8572, 8573, 8574, 8575, 8576, 8577, 8578, 8579, 8580, 8581, 8582, 8583, 8584, 8585, 8586, 8587, 8588, 8589, 8590, 8591, 8592, 8593, 8594, 8595, 8596, 8597, 8598, 8599, 8600, 8601, 8602, 8603, 8604, 8605, 8606, 8607, 8608, 8609, 8610, 8611, 8612, 8613, 8614, 8615, 8616, 8617, 8618, 8619, 8620, 8621, 8622, 8623, 8624, 8625, 8626, 8627, 8628, 8629, 8630, 8631, 8632, 8633, 8634, 8635, 8636, 8637, 8638, 8639, 8640, 8641, 8642, 8643, 8644, 8645, 8646, 8647, 8648, 8649, 8650, 8651, 8652, 8653, 8654, 8655, 8656, 8657, 8658, 8659, 8660, 8661, 8662, 8663], 6004: [8664, 8665, 8666, 8667, 8668, 8669, 8670, 8671, 8672, 8673, 8674, 8675, 8676, 8677, 8678, 8679, 8680, 8681, 8682, 8683, 8684, 8685, 8686, 8687, 8688, 8689, 8690, 8691, 8692, 8693, 8694, 8695, 8696, 8697, 8698, 8699, 8700, 8701, 8702, 8703, 8704, 8705, 8706, 8707, 8708, 8709, 8710, 8711, 8712, 8713, 8714, 8715, 8716, 8717, 8718], 6016: [8719, 8720, 8721, 8722, 8723, 8724, 8725, 8726, 8727, 8728, 8729, 8730, 8731, 8732, 8733, 8734, 8735, 8736, 8737, 8738, 8739, 8740, 8741, 8742, 8743, 8744, 8745, 8746, 8747, 8748, 8749, 8750, 8751, 8752, 8753, 8754, 8755, 8756, 8757, 8758, 8759, 8760, 8761, 8762, 8763, 8764, 8765, 8766, 8767, 8768, 8769, 8770, 8771, 8772, 8773, 8774, 8775, 8776, 8777, 8778, 8779, 8780, 8781, 8782, 8783, 8784, 8785, 8786, 8787, 8788, 8789, 8790, 8791, 8792, 8793, 8794, 8795, 8796, 8797, 8798, 8799, 8800, 8801, 8802, 8803, 8804, 8805, 8806, 8807, 8808, 8809, 8810, 8811, 8812, 8813, 8814, 8815, 8816, 8817, 8818, ...], 6019: [8898, 8899, 8900, 8901, 8902, 8903, 8904, 8905, 8906, 8907, 8908, 8909, 8910, 8911, 8912, 8913, 8914, 8915, 8916, 8917, 8918, 8919, 8920, 8921, 8922, 8923, 8924, 8925, 8926, 8927, 8928, 8929, 8930, 8931, 8932, 8933, 8934, 8935, 8936, 8937, 8938, 8939, 8940, 8941, 8942, 8943, 8944, 8945, 8946, 8947, 8948, 8949, 8950, 8951, 8952, 8953, 8954, 8955, 8956, 8957, 8958, 8959, 8960, 8961, 8962, 8963, 8964, 8965, 8966, 8967, 8968, 8969, 8970, 8971, 8972, 8973, 8974, 8975, 8976, 8977, 8978, 8979

In [ ]:
groups = x_y_test_raiting_.groups

In [ ]:
first_key = list(groups)

In [ ]:
#расчет корреляций по тестовому множеству турниров
spearman_arr = []
kendalltau_arr = []
for i in first_key:
  max_k = max(groups[i])
  min_k = min(groups[i])
  spearman_arr.append(stats.spearmanr(x_y_test_raiting['dense_rank'][min_k:max_k+1], x_test['predict_dense_rank'][min_k:max_k+1])[0])
  kendalltau_arr.append(stats.kendalltau(x_y_test_raiting['dense_rank'][min_k:max_k+1], x_test['predict_dense_rank'][min_k:max_k+1])[0])

In [ ]:
#качество метрики качества на тестовом наборе ранговая корреляция Спирмена
statistics.mean(spearman_arr)

0.7459142452355754

In [ ]:
#качество метрики качества на тестовом наборе ранговая корреляция Кендалла
statistics.mean(kendalltau_arr)

0.5896935815252264

#4. Теперь главное: ЧГК — это всё-таки командная игра.

###Поэтому: 
###предложите способ учитывать то, что на вопрос отвечают сразу несколько игроков; скорее всего, понадобятся скрытые переменные; не стесняйтесь делать упрощающие предположения, но теперь переменные “игрок X ответил на вопрос Y” при условии данных должны стать зависимыми для игроков одной и той же команды;
###разработайте EM-схему для обучения этой модели, реализуйте её в коде;
###обучите несколько итераций, убедитесь, что целевые метрики со временем растут (скорее всего, ненамного, но расти должны), выберите лучшую модель, используя целевые метрики.

In [ ]:
results_player_train_pd = pd.read_csv('gdrive/My Drive/Advanced_ML/results_player_train_pd_4.csv')
del results_player_train_pd['Unnamed: 0']
results_player_test_pd = pd.read_csv('gdrive/My Drive/Advanced_ML/results_player_test_pd_4.csv')
del results_player_test_pd['Unnamed: 0']

In [ ]:
results_player_train_pd.head()

,id_tournaments,id_team,id_player,rating,id_question,answer,complexity_question
0,4772,45556,6212,13507,4772_0,1,0.883117
1,4772,45556,6212,13507,4772_1,1,0.779221
2,4772,45556,6212,13507,4772_2,1,0.445887
3,4772,45556,6212,13507,4772_3,1,0.519481
4,4772,45556,6212,13507,4772_4,1,0.878788

In [ ]:
results_player_test_pd.head()

,id_tournaments,id_team,id_player,rating,id_question,answer,complexity_question
0,4957,49804,30152,14433,4957_0,1,0.282609
1,4957,49804,30152,14433,4957_1,1,0.119565
2,4957,49804,30152,14433,4957_2,1,0.858696
3,4957,49804,30152,14433,4957_3,1,0.576087
4,4957,49804,30152,14433,4957_4,1,0.260870

In [ ]:
#удаление игроков с нулевым рейтингом
results_player_train_pd = results_player_train_pd.loc[results_player_train_pd["rating"] != 0]
results_player_test_pd = results_player_test_pd.loc[results_player_test_pd["rating"] != 0]

In [ ]:
results_player_train_pd

,id_tournaments,id_team,id_player,rating,id_question,answer,complexity_question
0,4772,45556,6212,13507,4772_0,1,0.883117
1,4772,45556,6212,13507,4772_1,1,0.779221
2,4772,45556,6212,13507,4772_2,1,0.445887
3,4772,45556,6212,13507,4772_3,1,0.519481
4,4772,45556,6212,13507,4772_4,1,0.878788
...,...,...,...,...,...,...,...
19292605,6255,75113,212749,14,6255_31,0,0.292722
19292606,6255,75113,212749,14,6255_32,0,0.381132
19292607,6255,75113,212749,14,6255_33,0,0.266307
19292608,6255,75113,212749,14,6255_34,0,0.217251
19292609,6255,75113,212749,14,6255_35,0,0.717520

In [ ]:
s = pd.Series([i for i in range(len(results_player_train_pd))])
results_player_train_pd = results_player_train_pd.set_index([s])
del s
results_player_train_pd['z_p_q'] = pd.Series([0 for i in range(len(results_player_train_pd))])
results_player_train_pd.head()

,id_tournaments,id_team,id_player,rating,id_question,answer,complexity_question,z_p_q
0,4772,45556,6212,13507,4772_0,1,0.883117,0
1,4772,45556,6212,13507,4772_1,1,0.779221,0
2,4772,45556,6212,13507,4772_2,1,0.445887,0
3,4772,45556,6212,13507,4772_3,1,0.519481,0
4,4772,45556,6212,13507,4772_4,1,0.878788,0

In [ ]:
s = pd.Series([i for i in range(len(results_player_test_pd))])
results_player_test_pd = results_player_test_pd.set_index([s])
del s
results_player_test_pd['z_p_q'] = pd.Series([0 for i in range(len(results_player_test_pd))])
results_player_test_pd.head()

,id_tournaments,id_team,id_player,rating,id_question,answer,complexity_question,z_p_q
0,4957,49804,30152,14433,4957_0,1,0.282609,0
1,4957,49804,30152,14433,4957_1,1,0.119565,0
2,4957,49804,30152,14433,4957_2,1,0.858696,0
3,4957,49804,30152,14433,4957_3,1,0.576087,0
4,4957,49804,30152,14433,4957_4,1,0.260870,0

In [ ]:
#0 шаг ЕМ алгоритма : предскажем вероятность ответа конкретного игрока
model = LogisticRegression(random_state=10)
model.fit(results_player_train_pd[['id_player','rating','complexity_question']], results_player_train_pd[['answer']])
pred_an = model.predict_proba(results_player_train_pd[['id_player','rating','complexity_question']])
results_player_train_pd['pred_ans'] = pd.Series(pred_an[:,1])
results_player_train_pd['pred_ans_1'] = pd.Series(pred_an[:,0])
del pred_an
pred_an = model.predict_proba(results_player_test_pd[['id_player','rating','complexity_question']])
results_player_test_pd['pred_ans'] = pd.Series(pred_an[:,1])
results_player_test_pd['pred_ans_1'] = pd.Series(pred_an[:,0])
del pred_an
results_player_test_pd.head()

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

,id_tournaments,id_team,id_player,rating,id_question,answer,complexity_question,z_p_q,pred_ans,pred_ans_1
0,4957,49804,30152,14433,4957_0,1,0.282609,0,0.620292,0.379708
1,4957,49804,30152,14433,4957_1,1,0.119565,0,0.620292,0.379708
2,4957,49804,30152,14433,4957_2,1,0.858696,0,0.620292,0.379708
3,4957,49804,30152,14433,4957_3,1,0.576087,0,0.620292,0.379708
4,4957,49804,30152,14433,4957_4,1,0.260870,0,0.620292,0.379708

In [ ]:
# создание массива вопросов и игроков, отвечающих на конкретный вопрос 
questions_train_pd = results_player_train_pd.groupby('id_question')
questions_train = questions_train_pd.groups
questions_player_train = list(questions_train)

questions_test_pd = results_player_test_pd.groupby('id_question')
questions_test = questions_test_pd.groups
questions_player_test = list(questions_test)

In [ ]:
questions_train['4772_0']

Int64Index([    0,    36,    72,   108,   144,   180,   216,   252,   288,
              324,
            ...
            41616, 41652, 41688, 41724, 41760, 41796, 41832, 41868, 41904,
            41940],
           dtype='int64', length=1166)

In [ ]:
# если ответ = 0, то и z_p_q = 0
# pred_ans_1 = 1 - pred_ans
# 1. посчитать произведение group(id_tournaments, id_team, id_question)[pred_ans_1]
# если ответ = 0, то z_p_q = (pred_ans_1) / (1 - 1.)
def e_step(df, first_key, groups, pred_ans, z_p_q, pred_ans_1):
  for k in first_key:
    if groups[k][0] > 0:
      div = 1
      for i in groups[k]:        
        div *= df[pred_ans_1][i]
      df.loc[groups[k], z_p_q] = df.loc[groups[k], pred_ans] / (1 - div)
  return df

In [ ]:
results_player_train_pd = e_step(results_player_train_pd, questions_player_train, questions_train, 'pred_ans', 'z_p_q', 'pred_ans_1')

In [ ]:
results_player_train_pd

,id_tournaments,id_team,id_player,rating,id_question,answer,complexity_question,z_p_q,pred_ans,pred_ans_1
0,4772,45556,6212,13507,4772_0,1,0.883117,0.000000,0.631315,0.368685
1,4772,45556,6212,13507,4772_1,1,0.779221,0.631315,0.631315,0.368685
2,4772,45556,6212,13507,4772_2,1,0.445887,0.631315,0.631315,0.368685
3,4772,45556,6212,13507,4772_3,1,0.519481,0.631315,0.631315,0.368685
4,4772,45556,6212,13507,4772_4,1,0.878788,0.631315,0.631315,0.368685
...,...,...,...,...,...,...,...,...,...,...
15330839,6255,75113,212749,14,6255_31,0,0.292722,0.318869,0.318869,0.681131
15330840,6255,75113,212749,14,6255_32,0,0.381132,0.318869,0.318869,0.681131
15330841,6255,75113,212749,14,6255_33,0,0.266307,0.318869,0.318869,0.681131
15330842,6255,75113,212749,14,6255_34,0,0.217251,0.318869,0.318869,0.681131
15330843,6255,75113,212749,14,6255_35,0,0.717520,0.318869,0.318869,0.681131

In [ ]:
results_player_test_pd = e_step(results_player_test_pd, questions_player_test, questions_test, 'pred_ans', 'z_p_q', 'pred_ans_1')

In [ ]:
results_player_test_pd.head()

,id_tournaments,id_team,id_player,rating,id_question,answer,complexity_question,z_p_q,pred_ans,pred_ans_1
0,4957,49804,30152,14433,4957_0,1,0.282609,0.000000,0.620292,0.379708
1,4957,49804,30152,14433,4957_1,1,0.119565,0.620292,0.620292,0.379708
2,4957,49804,30152,14433,4957_2,1,0.858696,0.620292,0.620292,0.379708
3,4957,49804,30152,14433,4957_3,1,0.576087,0.620292,0.620292,0.379708
4,4957,49804,30152,14433,4957_4,1,0.260870,0.620292,0.620292,0.379708

In [ ]:
results_player_train_pd.loc[(results_player_train_pd.z_p_q < 0.5), 'z_p_q_round'] = int(0)
results_player_train_pd.loc[(results_player_train_pd.z_p_q >= 0.5), 'z_p_q_round'] = int(1)

In [ ]:
results_player_test_pd.loc[(results_player_test_pd.z_p_q < 0.5), 'z_p_q_round'] = int(0)
results_player_test_pd.loc[(results_player_test_pd.z_p_q >= 0.5), 'z_p_q_round'] = int(1)

In [ ]:
results_player_train_pd.head()

,id_tournaments,id_team,id_player,rating,id_question,answer,complexity_question,z_p_q,pred_ans,pred_ans_1,z_p_q_round
0,4772,45556,6212,13507,4772_0,1,0.883117,0.000000,0.631315,0.368685,0.0
1,4772,45556,6212,13507,4772_1,1,0.779221,0.631315,0.631315,0.368685,1.0
2,4772,45556,6212,13507,4772_2,1,0.445887,0.631315,0.631315,0.368685,1.0
3,4772,45556,6212,13507,4772_3,1,0.519481,0.631315,0.631315,0.368685,1.0
4,4772,45556,6212,13507,4772_4,1,0.878788,0.631315,0.631315,0.368685,1.0

In [ ]:
# z_p_q через 'id_player','rating','complexity_question'
def m_step(df_train, df_test, pred_ans, pred_ans_1, z_p_q):
  model = LogisticRegression(random_state = 100)
  model.fit(df_train[['id_player','rating','complexity_question']], df_train[[z_p_q]])
  pred_an = model.predict_proba(df_train[['id_player','rating','complexity_question']])
  df_train[pred_ans] = pd.Series(pred_an[:,1])
  df_train[pred_ans_1] = pd.Series(pred_an[:,0])

  pred_an = model.predict_proba(df_test[['id_player','rating','complexity_question']])
  df_test[pred_ans] = pd.Series(pred_an[:,1])
  df_test[pred_ans_1] = pd.Series(pred_an[:,0])
  return df_train, df_test

In [ ]:
results_player_train_pd, results_player_test_pd = m_step(results_player_train_pd, results_player_test_pd,\
                                                         'pred_ans_2', 'pred_ans_1_2', 'z_p_q_round')

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [ ]:
results_player_train_pd.to_csv('gdrive/My Drive/Advanced_ML/results_player_train_pd_em_1.csv') 
results_player_test_pd.to_csv('gdrive/My Drive/Advanced_ML/results_player_test_pd_em_1.csv')

In [ ]:
#2 step e
results_player_train_pd = e_step(results_player_train_pd, questions_player_train, questions_train, 'pred_ans_2', 'z_p_q_2', 'pred_ans_1_2')

In [ ]:
results_player_test_pd = e_step(results_player_test_pd, questions_player_test, questions_test, 'pred_ans_2', 'z_p_q_2', 'pred_ans_1_2')

In [ ]:
ind_nan = results_player_test_pd['z_p_q_2'].isna()
for i in range(len(results_player_test_pd)):
  if ind_nan[i]:
    results_player_test_pd['z_p_q_2'][i] = 0

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [ ]:
results_player_train_pd.loc[(results_player_train_pd.z_p_q < 0.5), 'z_p_q_round_2'] = int(0)
results_player_train_pd.loc[(results_player_train_pd.z_p_q >= 0.5), 'z_p_q_round_2'] = int(1)

In [ ]:
results_player_test_pd.loc[(results_player_test_pd.z_p_q < 0.5), 'z_p_q_round_2'] = int(0)
results_player_test_pd.loc[(results_player_test_pd.z_p_q >= 0.5), 'z_p_q_round_2'] = int(1)

In [ ]:
results_player_train_pd, results_player_test_pd = m_step(results_player_train_pd, results_player_test_pd,\
                                                         'pred_ans_3', 'pred_ans_1_3', 'z_p_q_round_2')

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [ ]:
results_player_train_pd.head()

,id_tournaments,id_team,id_player,rating,id_question,answer,complexity_question,z_p_q,pred_ans,pred_ans_1,z_p_q_round,pred_ans_2,pred_ans_1_2,z_p_q_2,z_p_q_round_2,pred_ans_3,pred_ans_1_3
0,4772,45556,6212,13507,4772_0,1,0.883117,0.000000,0.631315,0.368685,0.0,1.0,0.0,0.0,0.0,1.0,0.0
1,4772,45556,6212,13507,4772_1,1,0.779221,0.631315,0.631315,0.368685,1.0,1.0,0.0,1.0,1.0,1.0,0.0
2,4772,45556,6212,13507,4772_2,1,0.445887,0.631315,0.631315,0.368685,1.0,1.0,0.0,1.0,1.0,1.0,0.0
3,4772,45556,6212,13507,4772_3,1,0.519481,0.631315,0.631315,0.368685,1.0,1.0,0.0,1.0,1.0,1.0,0.0
4,4772,45556,6212,13507,4772_4,1,0.878788,0.631315,0.631315,0.368685,1.0,1.0,0.0,1.0,1.0,1.0,0.0

In [ ]:
results_player_train_pd.to_csv('gdrive/My Drive/Advanced_ML/results_player_train_pd_em_2.csv') 
results_player_test_pd.to_csv('gdrive/My Drive/Advanced_ML/results_player_test_pd_em_2.csv')

In [ ]:
results_player_train_pd = pd.read_csv('gdrive/My Drive/Advanced_ML/results_player_train_pd_em_2.csv') 
results_player_test_pd = pd.read_csv('gdrive/My Drive/Advanced_ML/results_player_test_pd_em_2.csv')

In [ ]:
results_player_tour_train = results_player_train_pd.groupby(['id_tournaments', 'id_team']).mean()

In [ ]:
sperman = stats.spearmanr(results_player_tour_train['pred_ans'], results_player_tour_train['answer'])[0]
kendall = stats.kendalltau(results_player_tour_train['pred_ans'], results_player_tour_train['answer'])[0]
print(sperman, kendall)

0.4805831048646366 0.33680408942419643

In [ ]:
sperman = stats.spearmanr(results_player_tour_train['pred_ans_2'], results_player_tour_train['answer'])[0]
kendall = stats.kendalltau(results_player_tour_train['pred_ans_2'], results_player_tour_train['answer'])[0]
print(sperman, kendall)

0.4509007311258246 0.3160735273001841

In [ ]:
sperman = stats.spearmanr(results_player_tour_train['pred_ans_3'], results_player_tour_train['answer'])[0]
kendall = stats.kendalltau(results_player_tour_train['pred_ans_3'], results_player_tour_train['answer'])[0]
print(sperman, kendall)

0.4509007311258246 0.3160735273001841

In [ ]:
results_player_tour_test = results_player_test_pd.groupby(['id_tournaments', 'id_team']).mean()

In [ ]:
sperman = stats.spearmanr(results_player_tour_test['pred_ans'], results_player_tour_test['answer'])[0]
kendall = stats.kendalltau(results_player_tour_test['pred_ans'], results_player_tour_test['answer'])[0]
print(sperman, kendall)

0.423184106062748 0.2943442464981085

In [ ]:
sperman = stats.spearmanr(results_player_tour_test['pred_ans_2'], results_player_tour_test['answer'])[0]
kendall = stats.kendalltau(results_player_tour_test['pred_ans_2'], results_player_tour_test['answer'])[0]
print(sperman, kendall)

0.3972584039941906 0.27656382545462666

In [ ]:
sperman = stats.spearmanr(results_player_tour_test['pred_ans_3'], results_player_tour_test['answer'])[0]
kendall = stats.kendalltau(results_player_tour_test['pred_ans_3'], results_player_tour_test['answer'])[0]
print(sperman, kendall)

0.3972584039941906 0.27656382545462666

# 5. А что там с вопросами?

### Постройте “рейтинг-лист” турниров по сложности вопросов. Соответствует ли он интуиции (например, на чемпионате мира в целом должны быть сложные вопросы, а на турнирах для школьников — простые)? Если будет интересно: постройте топ сложных и простых вопросов со ссылками на конкретные записи в базе вопросов ЧГК (это чисто техническое дело, тут никакого ML нету).

In [ ]:
#ответ команд и вопросы + турниры
def complexity_question(tournaments_list, results_pkl):
  results_team_q = []

  for t in range(len(tournaments_list)):
    j = tournaments_list[t][0]
    for i in range(len(results_pkl[j])):#id_team
      try:
        for q in range(len(results_pkl[j][i]['mask'])):#id_question
          results_team_q.append([tournaments_list[t][0], tournaments_list[t][1], tournaments_list[t][2], str(j) + '_' + str(q), \
                                 int(results_pkl[j][i]['mask'][q])])
      except:
        pass
  results_team_q = pd.DataFrame(results_team_q, columns = ['id_tournaments','name_tournaments', 'type_tournaments','id_question','answer'])
  dct = {
    'id_question': lambda col: col.mode(),
    'id_tournaments': lambda col: col.mode(),
    'name_tournaments': lambda col: col.mode(),
    'type_tournaments': lambda col: col.mode(),
    'answer': 'mean',    
  }
  results_questions = results_team_q.groupby(['id_question']).agg(**{k: (k, v) for k, v in dct.items()})
  results_questions.rename(columns={'answer':'complexity_question'}, inplace=True)
  s = pd.Series([i for i in range(len(results_questions))])
  results_questions = results_questions.set_index([s])
  return results_questions

In [ ]:
results_questions_train = complexity_question(train_list, results_pkl)
results_questions_train.head()

,id_question,id_tournaments,name_tournaments,type_tournaments,complexity_question
0,4772_0,4772,Синхрон северных стран. Зимний выпуск,Синхрон,0.883117
1,4772_1,4772,Синхрон северных стран. Зимний выпуск,Синхрон,0.779221
2,4772_10,4772,Синхрон северных стран. Зимний выпуск,Синхрон,0.831169
3,4772_11,4772,Синхрон северных стран. Зимний выпуск,Синхрон,0.515152
4,4772_12,4772,Синхрон северных стран. Зимний выпуск,Синхрон,0.974026

In [ ]:
results_questions_test = complexity_question(test_list, results_pkl)
results_questions_test.head()

,id_question,id_tournaments,name_tournaments,type_tournaments,complexity_question
0,4957_0,4957,Синхрон Биркиркары,Синхрон,0.282609
1,4957_1,4957,Синхрон Биркиркары,Синхрон,0.119565
2,4957_10,4957,Синхрон Биркиркары,Синхрон,0.760870
3,4957_11,4957,Синхрон Биркиркары,Синхрон,0.260870
4,4957_12,4957,Синхрон Биркиркары,Синхрон,0.543478

In [ ]:
results_questions_train.nlargest(n=20, columns=['complexity_question'])

,id_question,id_tournaments,name_tournaments,type_tournaments,complexity_question
178,5000_19,5000,Чёрная Быль,Синхрон,1.0
183,5000_23,5000,Чёрная Быль,Синхрон,1.0
184,5000_24,5000,Чёрная Быль,Синхрон,1.0
190,5000_3,5000,Чёрная Быль,Синхрон,1.0
195,5000_34,5000,Чёрная Быль,Синхрон,1.0
196,5000_35,5000,Чёрная Быль,Синхрон,1.0
198,5000_5,5000,Чёрная Быль,Синхрон,1.0
1192,5111_13,5111,Открытый чемпионат Кипра,Обычный,1.0
1197,5111_18,5111,Открытый чемпионат Кипра,Обычный,1.0
1210,5111_3,5111,Открытый чемпионат Кипра,Обычный,1.0
1238,5112_14,5112,Mediterranean Cup,Обычный,1.0
1240,5112_16,5112,Mediterranean Cup,Обычный,1.0
1276,5112_49,5112,Mediterranean Cup,Обычный,1.0
1281,5112_53,5112,Mediterranean Cup,Обычный,1.0
1290,5112_8,5112,Mediterranean Cup,Обычный,1.0
1727,5179_2,5179,Кубок соседней галактики. Гамма,Синхрон,1.0
1787,5185_33,5185,Игра Первопрестольной. Четвёртый сезон,Обычный,1.0
1801,5185_46,5185,Игра Первопрестольной. Четвёртый сезон,Обычный,1.0
1817,5185_60,5185,Игра Первопрестольной. Четвёртый сезон,Обычный,1.0
2138,5251_29,5251,Кубок Хайфы,Обычный,1.0

In [ ]:
results_questions_test.nlargest(n=20, columns=['complexity_question'])

,id_question,id_tournaments,name_tournaments,type_tournaments,complexity_question
537,5746_1,5746,Открытый Чемпионат Кипра,Обычный,1.0
589,5746_57,5746,Открытый Чемпионат Кипра,Обычный,1.0
1180,5889_1,5889,Славянка,Обычный,1.0
1240,5889_64,5889,Славянка,Обычный,1.0
1277,5891_16,5891,Кубок малой родины,Обычный,1.0
1316,5891_51,5891,Кубок малой родины,Обычный,1.0
1638,5970_22,5970,Январское диминуэндо,Синхрон,1.0
1656,5970_7,5970,Январское диминуэндо,Синхрон,1.0
1665,5973_14,5973,Части Вселенной,Обычный,1.0
1680,5973_28,5973,Части Вселенной,Обычный,1.0
1983,6045_13,6045,Lida Major. День 1,Синхрон,1.0
1988,6045_18,6045,Lida Major. День 1,Синхрон,1.0
1989,6045_19,6045,Lida Major. День 1,Синхрон,1.0
1991,6045_20,6045,Lida Major. День 1,Синхрон,1.0
1997,6045_26,6045,Lida Major. День 1,Синхрон,1.0
2007,6045_35,6045,Lida Major. День 1,Синхрон,1.0
2009,6045_5,6045,Lida Major. День 1,Синхрон,1.0
2010,6045_6,6045,Lida Major. День 1,Синхрон,1.0
2011,6045_7,6045,Lida Major. День 1,Синхрон,1.0
2049,6046_9,6046,Lida Major. День 2,Синхрон,1.0

#6. Бонус: постройте топ игроков по предсказанной вашей моделью силе игры, а рядом с именами игроков напишите общее число вопросов, которое они сыграли.

In [ ]:
results_player_train_pd = pd.read_csv('gdrive/My Drive/Advanced_ML/results_player_train_pd_em_2.csv') 
results_player_test_pd = pd.read_csv('gdrive/My Drive/Advanced_ML/results_player_test_pd_em_2.csv')

In [ ]:
del results_player_train_pd['Unnamed: 0']
del results_player_test_pd['Unnamed: 0']

In [ ]:
dct = {
    'id_player': lambda col: col.mode(),
    'id_question': 'size',
    'z_p_q': 'mean',    
  }
results_questions_train = results_player_train_pd[['id_player', 'id_question', 'z_p_q']].groupby(['id_player']).agg(**{k: (k, v) for k, v in dct.items()})
s = pd.Series([i for i in range(len(results_questions_train))])
results_questions_train = results_questions_train.set_index([s])
results_questions_train.rename(columns={'id_question':'count_question'}, inplace=True)
results_questions_train.rename(columns={'z_p_q':'z_p_q_rating'}, inplace=True)
results_questions_train.head()

   id_player  count_question  z_p_q_rating
0         15             479      0.553433
1         16             234      0.538278
2         23              36      0.508178
3         31             877      0.551440
4         35             769      0.551236

In [ ]:
#вывод игроков топ 20 по параметру z_p_q_rating
results_questions_train.nlargest(n=20, columns=['z_p_q_rating'])

      id_player  count_question  z_p_q_rating
596        4270            2756      0.638135
864        6212            2986      0.632542
972        7008            4190      0.629657
222        1585            1550      0.627977
324        2421            3132      0.626820
441        3207            3196      0.626635
888        6482            3347      0.626384
66          505            1970      0.626001
2558      18332            3587      0.624182
434        3159            1808      0.623342
832        5990            3915      0.623011
488        3438            3058      0.622567
2141      15456            2206      0.622438
405        2954            4640      0.620612
1477      10586            3015      0.620576
514        3671             685      0.620270
3856      27822            3339      0.619902
3972      28751            3718      0.619405
571        4121            5240      0.619160
736        5328            2553      0.618957

In [ ]:
#максимальное количество вопросов
results_questions_train['count_question']. max()

8190

In [ ]:
#вывод игроков топ 20 по параметру z_p_q_rating и количеству вопросов > 5000
results_questions_train.loc[(results_questions_train.count_question > 5000)].nlargest(n=20, columns=['z_p_q_rating'])

       id_player  count_question  z_p_q_rating
571         4121            5240      0.619160
1689       12313            6378      0.615210
3803       27499            6622      0.602457
617         4426            5845      0.599313
3688       26640            6097      0.597700
1715       12511            7915      0.593043
5642       42511            5300      0.590999
2866       20640            8190      0.588966
3530       25475            6092      0.582197
4076       29500            5478      0.576567
6122       51852            5382      0.552411
8891       85216            5421      0.547506
8831       84354            5178      0.541479
6978       62176            5032      0.541153
8295       78609            5482      0.535154
11552     110920            7692      0.528579
8885       85059            6829      0.526867
8952       86255            5315      0.525079
8668       82784            6052      0.523776
8941       86230            6146      0.521774

In [ ]:
dct = {
    'id_player': lambda col: col.mode(),
    'id_question': 'size',
    'z_p_q': 'mean',    
  }
results_questions_test = results_player_test_pd[['id_player', 'id_question', 'z_p_q']].groupby(['id_player']).agg(**{k: (k, v) for k, v in dct.items()})
s = pd.Series([i for i in range(len(results_questions_test))])
results_questions_test = results_questions_test.set_index([s])
results_questions_test.rename(columns={'id_question':'count_question'}, inplace=True)
results_questions_test.rename(columns={'z_p_q':'z_p_q_rating'}, inplace=True)
results_questions_test.head()

   id_player  count_question  z_p_q_rating
0         15             570      0.554018
1         16              43      0.539717
2         23              36      0.509764
3         31             195      0.560649
4         35              92      0.564588

In [ ]:
#вывод игроков топ 20 по параметру z_p_q_rating
results_questions_test.nlargest(n=20, columns=['z_p_q_rating'])

      id_player  count_question  z_p_q_rating
408        4270             298      0.635171
612        6482             966      0.634965
597        6212             528      0.634208
48          505             377      0.634065
232        2421             595      0.632792
667        7008             769      0.632221
160        1585             448      0.631232
512        5328             657      0.631060
395        4121             989      0.630518
278        2954             996      0.629684
307        3207             690      0.629543
340        3438             726      0.628749
574        5990             837      0.627732
1820      18332            1142      0.627564
1044      10695             617      0.626453
349        3577             593      0.625244
1527      15456             535      0.624566
1347      13782             594      0.624164
1194      12313            1291      0.623545
224        2322             799      0.622992

In [ ]:
#максимальное количество вопросов
results_questions_test['count_question']. max()

2143

In [ ]:
#вывод игроков топ 20 по параметру z_p_q_rating и количеству вопросов > 1200
results_questions_test.loc[(results_questions_test.count_question > 1200)].nlargest(n=20, columns=['z_p_q_rating'])

      id_player  count_question  z_p_q_rating
1194      12313            1291      0.623545
995       10145            1327      0.622976
913        9342            1486      0.622909
2951      30152            1475      0.621950
363        3767            1343      0.619426
2096      21233            1412      0.613914
2683      27499            1255      0.611622
2610      26640            1425      0.610484
3335      34395            1336      0.603162
1212      12511            1655      0.601881
3896      40877            1229      0.600165
2714      27754            1444      0.597071
3520      36372            1212      0.596868
2497      25475            1343      0.595246
2922      29887            1336      0.594704
3541      36568            1355      0.590987
2034      20640            1996      0.589243
1982      20114            1312      0.584087
3279      33794            1349      0.571900
4527      55108            1255      0.565603